{% extends "layouts/_base.html" %}
{% load static %}

{% block content %}

    {% include "includes/booking_navbar.html" %}

    <div class="flex justify-center p-4">
        <div class="bg-white shadow-md rounded-lg p-6 max-w-md text-center">
            <!-- Success Icon -->
            <div class="flex justify-center items-center bg-green-100 text-green-600 w-16 h-16 rounded-full mx-auto mb-6">
                <img src="{% static "images/cancel.svg" %}" alt="">
            </div>
            <!-- Success Message -->
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Already Confirmed!</h2>
            <p class="text-gray-600 mb-6">
                You have already confirmed your booking. You will receive your Ticket via email shortly.
            </p>
            <p class="text-gray-600 mb-4">
                For any queries, please contact us at <a href="mailto:example.com" class="text-[#FFA300]"><br>support.email.com</a>
            </p>
        </div>
    </div>

{% endblock content %}
