{% extends "layouts/_base.html" %}

{% block content %}

{% include "includes/staff_navbar.html" %}

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 sm:p-6">
        <!-- Event List -->
        {% for event in events %}
            <div class="w-full p-6 bg-white rounded-lg shadow-md">
                <!-- Event Image -->
                <div class="w-full h-52 bg-gray-200 rounded-lg mb-4">
                    <img src="{{ event.image_url.url }}" alt="{{ event.name }}" class="w-full h-full object-cover rounded-lg">
                </div>

                <div class="space-y-4">
                    <!-- Event Name -->
                    <div>
                        <strong class="text-gray-800">Event: </strong>
                        <span class="text-gray-600">{{ event.name }}</span>
                    </div>
                    
                    <!-- Event Date -->
                    <div class="flex justify-between mb-4">
                        <div>
                            <strong class="text-gray-800">Date: </strong>
                            <span class="text-gray-600">{{ event.date|date:"j F Y" }}</span>
                        </div>
                        <div>
                            <strong class="text-gray-800">Time: </strong>
                            <span class="text-gray-600">{{ event.start_time }}</span>
                        </div>
                    </div>
                    
                    <!-- Event Description -->
                    <div>
                        <strong class="text-gray-800">Description: </strong>
                        <p class="text-gray-600">{{ event.description }}</p>
                    </div>
                    
                    <!-- Event Location-->
                    <div>
                        <strong class="text-gray-800">Location: </strong>
                        <span class="text-gray-600">{{ event.location }}</span>
                    </div>

                    <!-- Expected Attendance -->
                    <div>
                        <strong class="text-gray-800">Expected Attendance: </strong>
                        <span class="text-gray-600">{{ event.confirmed_tickets }}</span>
                    </div>
                    <div>
                        <strong class="text-gray-800">Checked in: </strong>
                        <span class="text-gray-600">{{ event.checked_in_count }}</span>
                    </div>
                </div>
                <div class="mt-5 flex justify-center space-x-3">
                    <!-- Scan QR Button -->
                    <a href="{% url 'scan_qr' event.event_id %}" 
                    class="flex justify-center items-center space-x-2 text-white bg-green-500 focus:outline-none font-medium rounded-lg text-sm px-6 py-3 mb-4 w-full sm:w-auto text-center">
                        <!-- QR Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5M4 4h1v1H4z"/>
                            <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z"/>
                            <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z"/>
                            <path d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2 2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"/>
                            <path d="M12 9h2V8h-2z"/>
                        </svg>
                        <span>Scan QR</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function copyToClipboard(eventId) {
            // Get the dynamic text using the eventId
            const textElement = document.getElementById(`copyText${eventId}`);
            const copy = document.getElementById(`copy${eventId}`)
        
            if (textElement) {
                const text = textElement.innerText;
        
                // Copy to clipboard
                navigator.clipboard.writeText(text)
                    .then(() => {
                        // Show the feedback message for the correct event
                        copy.innerText = "Copied"
        
                        // Hide the message after 2 seconds
                        setTimeout(() => {
                            feedback.classList.remove("visible");
                        }, 2000);
                    })
                    .catch(err => {
                        console.error("Failed to copy text: ", err);
                    });
            } else {
                console.error(`Element with id copyText${eventId} not found.`);
            }
        }        
    </script>

{% endblock content %}
