{% extends "layouts/_base.html" %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .message {
            margin-top: 20%;
        }
    </style>

    <div class="message">
        <h1>🎉 Entry Granted!</h1>
        <p>Your ticket has been successfully validated.</p>
        <a href="{% url "home" %}">Back to Home</a>
        <a href="{% url "scan_qr" %}">Scan Again</a>
    </div>
{% endblock content %}