{% extends "layouts/_base.html" %}

{% block content %}

    {% if request.user.role == "organizer" %}
        {% include "includes/navbar.html" %}
    {% elif request.user.role == "checkin-staff" %}
        {% include "includes/staff_navbar.html" %}
    {% else %}
        {% include "includes/booking_navbar.html" %}
    {% endif %}

    <div class="p-4 flex justify-center">
        <div class="max-w-2xl md:w-1/2 p-6 pt-3 bg-white rounded-lg shadow-md">
            {% if request.user == event.organizer %}
                {% include "includes/dropdown.html"%}
            {% endif %}
    
            <!-- Event image -->
            <div class="w-full h-48 bg-gray-200 rounded-lg mb-4">
                <img
                    src="{{ event.image_url.url }}"
                    alt="{{ event.name }}"
                    class="w-full h-full object-cover rounded-lg"
                />
            </div>
    
            <!-- Event Name -->
            <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ event.name }}</h1>
    
            <!-- Event Date -->
            <div class="flex justify-between mb-4">
                <div>
                    <strong class="text-gray-800">Date: </strong>
                    <span class="text-gray-600">{{ event.date|date:"j F Y" }}</span>
                </div>
                <div>
                    <strong class="text-gray-800">Time: </strong>
                    <span class="text-gray-600">{{ event.start_time }}</span>
                </div>
            </div>
    
            <!-- Event Description -->
            <div class="text-gray-600 mb-6">
                <strong class="text-gray-800">Description:</strong>
                <p>
                    {{ event.description }}
                </p>
            </div>
    
            <!-- Event Description -->
            <div class="text-gray-600 mb-6">
                <strong class="text-gray-800">Location:</strong>
                <p>
                    {{ event.location }}
                </p>
            </div>
    
            {% if request.user == event.organizer %}
                <!-- Available Tickets -->
                <div class="text-gray-600 mb-6">
                    <strong class="text-gray-800">Available Tickets:</strong>
                    <p>
                        {{ event.available_tickets }}
                    </p>
                </div>

                <!-- Confirmed Tickets -->
                <div class="text-gray-600 mb-6">
                    <strong class="text-gray-800">Confirmed Tickets:</strong>
                    <p>
                        {{ event.confirmed_tickets }}
                    </p>
                </div>
            {% else %}
                <!-- Organizer Information -->
                <div class="text-gray-600 mb-6">
                    <strong class="text-gray-800">Organizer:</strong>
                    <span class="text-blue-600">{{ event.organizer.username }}</span>
                </div>
            {% endif %}
    
    
            <!-- Availability & Ticket Booking -->
            <div class="mt-5 flex justify-start">
                {% comment %} {% if event.is_sold_out %}
                <div class="text-center bg-red-200 text-red-800 p-4 rounded-lg mb-6">
                    <p class="font-semibold">SOLD OUT</p>
                    <p class="mt-2">
                        Join the waiting list to be notified when tickets become
                        available!
                    </p>
                    <!-- Add a form or link for joining the waiting list -->
                    <form
                        action="{% url 'join_waitlist' event.event_id %}"
                        method="POST"
                        class="mt-4"
                    >
                        {% csrf_token %}
                        <input
                            type="email"
                            name="email"
                            placeholder="Enter your email"
                            required
                            class="px-4 py-2 border rounded-lg text-gray-800 w-full sm:w-auto mb-2 sm:mb-0"
                        />
                        <button
                            type="submit"
                            class="text-white bg-blue-500 hover:bg-blue-600 font-medium rounded-lg text-sm px-6 py-2 mt-2 sm:mt-0"
                        >
                            Join Waiting List
                        </button>
                    </form>
                </div>
                {% else %} {% endcomment %}
                {% if request.user == event.organizer or request.user.role == "checkin-staff"  %}
                    <!-- Scan QR Button -->
                    <a href="{% url 'scan_qr' event.event_id %}" 
                    class="w-full sm:w-1/4 flex justify-center items-center space-x-2 text-white bg-green-500 focus:outline-none font-medium rounded-lg text-sm px-6 py-3 mb-4 text-center md:hidden">
                        <!-- QR Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5M4 4h1v1H4z"/>
                            <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z"/>
                            <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z"/>
                            <path d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2 2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"/>
                            <path d="M12 9h2V8h-2z"/>
                        </svg>
                        <span>Scan QR</span>
                    </a>
                {% else %}
                    <a
                        href="{% url 'book_event' event.event_id %}"
                        class="block text-center text-white bg-green-500 hover:bg-green-600 font-medium rounded-lg text-lg px-8 py-3 transition ease-in-out duration-300"
                    >
                        Book a Spot
                    </a>
                {% endif %}
                {% comment %} {% endif %} {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
