{% extends "layouts/_base.html" %}

{% block content %}

    {% include "includes/staff_navbar.html" %}

    <div class="h-screen mt-1 flex justify-center">
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-md text-center">
            <div class="text-red-500 text-6xl mb-4">🔒</div>
            <h1 class="text-4xl font-bold text-gray-800 mb-4">403 Forbidden</h1>
            <p class="text-gray-600 mb-6">
                Sorry, you don’t have permission to access this page. If you believe this is an error, please contact the administrator.
            </p>
            <a href="{% url "home" %}" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition">
                Go Back Home
            </a>
        </div>
    </div>


{% endblock content %}