<div class="flex justify-end mb-2">
    <button
        id="dropdownMenuIconHorizontalButton"
        data-dropdown-placement="left-start"
        data-dropdown-toggle="dropdownDotsHorizontal"
        class="inline-flex items-center justify-end p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
    >
        <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 16 3"
        >
            <path
                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
            />
        </svg>
    </button>
</div>

<!-- Dropdown menu -->
<div
    id="dropdownDotsHorizontal"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
>
    <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownMenuIconHorizontalButton"
    >
        <li>
            <a href="{% url "edit_event" event.event_id %}" class="block px-4 py-2 hover:bg-gray-100">Edit</a>
        </li>
        <li>
            <a href="{% url "event_delete" event.event_id %}" class="block px-4 py-2 text-red-500 hover:bg-gray-100"
                >Delete</a
            >
        </li>
    </ul>
</div>
